################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-Commerce Application/ECommerceLibrary/obj/Release/net8.0
# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo

# Build outputs
Release/
Debug/
